* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main-header {
    width: 100%;
    font-size: 16px;
    padding: 4px 16px;
    background: black;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    z-index: 2;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.main-header__brand {
    text-decoration: none;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
}

.main-nav {
    display: inline-block;
    width: 85%;
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 0px 8px;
    padding: 8px;
}

.main-nav__item a {
    text-decoration: none;
    color: #998d7f;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    font-weight: bold;
}

.main-nav__item--cta {
    background: #998d7f;
    border: 1px solid black;
    border-radius: 8px;
}

.main-nav__item--cta a,
.main-header__brand {
    color: white;
}

.main-nav__item--cta:hover,
.main-nav__item--cta:active {
    background: white;
}

.main-nav__item--cta:hover a,
.main-nav__item--cta:active a {
    color: #998d7f;
    font-weight: bold;
}

#product-overview {
    width: 100%;
    height: 600px;
    text-align: center;
    position: relative;
}

.background-image {
    background-image: url('images/cafe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav-list__items {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 550px;
}

.nav-list__item {
    display: inline-block;
    margin: 0px 10px;
}

.nav-list__item div {
    background-color: white;
    width: 60px;
    height: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.nav-list__item div:hover,
.nav-list__item div:active {
    border: 3px solid #6d1212;
}


.nav-list__description {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 150px;
    top: 90px;
    left: 25px;
    padding: 10px 20px;
    text-align: left;
    font-family: 'Roboto', 'sans-serif';
}

.nav-list__description h1 {
    margin: 0;
    font-size: 50px;
}

.nav-list__description p {
    margin: 10px 0px;
}




