* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main-header {
    width: 100vw;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    background: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: fixed;
    z-index: 2;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.6rem;
}

.main-header__brand {
    text-decoration: none;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: normal;
    font-size: 1.9rem;
}

.main-nav {
    display: inline-block;
    width: 80%;
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav__item {
    display: inline-block;
    margin-left: 1rem;
    padding: 0.5rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #998d7f;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    font-weight: bold;
}

.main-nav__item--cta {
    background: #998d7f;
    border: 1px solid #998d7f;
    border-radius: 8px;
}

.main-nav__item--cta a,
.main-header__brand {
    color: white;
}

.main-nav__item--cta:hover,
.main-nav__item--cta:active {
    background: white;
}

.main-nav__item--cta:hover a,
.main-nav__item--cta:active a {
    color: #998d7f;
    font-weight: bold;
}

#product-overview {
    width: 100%;
    height: 600px;
    text-align: center;
    position: relative;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.background-image__1 {
    background-image: url('images/cafe.jpg');
}

.background-image__2 {
    background-image: url('images/food.jpg');
    display: none;
}

.background-image__3 {
    background-image: url('images/bakery.jpg');
    display: none;
}

.background-image__4 {
    background-image: url('images/merch.jpg');
    display: none;
}

.nav-list__items {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 525px;
}

.nav-list__item {
    display: inline-block;
    margin: 0 0.6rem;
}

.nav-list__item div {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.nav-list__item-focus {
    border: 4px solid #6d1212;
}


.nav-list__description {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 3px;
    position: absolute;
    top: 15%;
    z-index: 1;
    width: 350px;
    height: 150px;
    padding: 0.6rem 1.3rem;
    text-align: left;
    font-family: 'Roboto', 'sans-serif';
}

.nav-list__description__1 {
    left: 30px;
}

.nav-list__description__2 {
    display: none;
    right: 30px;
}

.nav-list__description__3 {
    display: none;
    left: 30px;
}

.nav-list__description__4 {
    display: none;
    right: 30px;
}

.nav-list__description h1 {
    margin: 0;
    font-size: 3.5rem;
}

.nav-list__description p {
    margin: 0.6rem 0;
}

#introduction {
    width: 100%;
    padding: 2rem;
    background-color: #d7ccc8;
}

.main-footer {
    padding: 2rem;
    background: black;
}

.introduction__content {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.introduction__content h1 {
    font-size: 2.5rem;
    margin: 1rem;
    color: #795548;
}

.introduction__content h2 {
    font-size: 1rem;
    color: #8d6e63;
}

.introduction__content p {
    width: 85%;
    margin: 1.5rem auto;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.introduction-button {
    color: white;
    background: #795548;
    padding: 0.6rem 1.2rem;
    margin: 1rem;
    border: 1px solid #795548;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
}

.introduction-button:hover,
.introduction-button:active {
    background: #8d6e63;
    border-color: #8d6e63;
}

.menu__content {
    margin: 2rem;
    padding: 3rem 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 20%, transparent), url('images/pizza.jpg');
    background-position: center;
    background-size: cover;
    animation: changeBg 4s infinite;
}

.menu__content-information {
    width: 45%;
    text-align: center;
    line-height: 1.8rem;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
}

.menu__content-information h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.menu__content-information p {
    font-size: 1.1rem;
}

#shop {
    background-color: #beb4a7;
    background-color: white;
    text-align: center;
    margin: 2rem;
    padding: 2rem 0;
    border: 2px solid #3f301d;
    border-radius: 5px;
}

.shop__nav,
.shop__items {
    font-family: 'Roboto', sans-serif;
}

.shop__nav h1 {
    font-size: 2rem;
    color: #3f301d;
}

.shop__nav h2 {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}

.shop__nav h2:hover,
.shop__nav h2:active {
    color: #3f301d;
}

.shop__nav p {
    width: 60%;
    margin: 1rem auto;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.shop__nav__items,
.shop__items ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.shop__nav__items {
    border-bottom: 2px solid #3f301d;
    padding-bottom: 1rem;
    width: 90%;
}

.shop__nav__item,
.shop__items li {
    display: inline-block;
}

.shop__items li {
    width: 20%;
    margin: 0 1.5rem;
}

.shop__nav__item {
    width: 25%;
    vertical-align: middle;
}

.shop__items {
    display: none;
    margin-top: 3rem;
}

.shop__items__food {
    display: block;
}

.shop__items ul div {
    width: 100%;
    height: 35vh;
    width: 15vmax;
    height: 15vmax;
    display: inline-block;
    overflow: hidden;
}

.shop__items ul div img {
    width: 100%;
    height: 100%;
    filter: grayscale(20%);
    border-radius: 5px;
}

.shop__items ul div img:hover,
.shop__items ul div img:active {
    cursor: pointer;
}

.shop__items ul p {
    font-weight: 700;
    font-size: 1.2rem;
    color: #3f301d;
}

#cooking {
    padding: 2rem;
    margin: 2rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 20%, transparent), url('images/cooking.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
    color: white;
    /* overflow: auto; */
}

.cooking__content {
    padding: 1rem 2rem;
    width: 40%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8rem;
    /* float: right; */
}

.cooking__content h1 {
    font-size: 2rem;
}

.cooking__content p,
.signup__content p {
    justify-content: center;
    margin-top: 2rem;
}

.cooking__content button,
.signup__content button {
    margin-left: 0;
    margin-top: 2rem;
}

#signup {
    padding: 2rem;
    margin: 2rem;
    overflow: auto;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/redcoffee.jpg');
    background: url('images/whitecup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 80%;
}

.signup__content {
    padding: 1rem 2rem;
    margin: 2rem 1rem;
    width: 40%;
    float: right;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8rem;
}

.signup__content h1 {
    font-size: 2rem;
    color: #3f301d;
}

.signup__content button:first-of-type {
    background: white;
    color: #795548;
    border: 2px solid #795548;
}

.signup__content button:first-of-type:hover,
.signup__content button:first-of-type:active {
    border-color: #3f301d;
    color: #3f301d;
}

footer {
    color: #998d7f;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.footer__content {
    margin: 0 auto;
}

.footer__content div {
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
}

footer div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer div ul li {
    margin-top: 1rem;
}

footer a {
    text-decoration: none;
    color: #998d7f;
}

footer h2 {
    color: white;
}

footer input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 0.5rem;
    background: #998d7f;
    color: white;
    padding: 0.5rem;
    border: 1px solid #998d7f;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

footer input[type="submit"]:hover,
footer input[type="submit"]:active {
    background: white;
    color: #998d7f;
}

footer input[type="text"] {
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
}

.fa {
    margin-right: 0.5rem;
}


