* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-header {
    width: 100%;
    height: 10vh;
    padding: 0.3rem 1rem;
    background: black;
    font-weight: 700;
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header > div {
    margin-left: 0.6rem;
}

.main-header > nav {
    margin-right: 0.6rem;
}

.main-header__brand {
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.9rem;
}

.main-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav__item {
    margin-left: 1rem;
    padding: 0.5rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #998d7f;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    font-weight: bold;
}

.main-nav__item--cta {
    background: #998d7f;
    border: 1px solid #998d7f;
    border-radius: 8px;
}

.main-nav__item--cta a,
.main-header__brand {
    color: white;
}

.main-nav__item--cta:hover,
.main-nav__item--cta:active {
    background: white;
}

.main-nav__item--cta:hover a,
.main-nav__item--cta:active a {
    color: #998d7f;
    font-weight: bold;
}

#menu-overview {
    width: 100%;
    height: 70vh;
    /* background: #ffc300; */
    background: url('../images/menufood.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-overview > div h1 {
    font-size: 3rem;
    color: #f5f5f5;
}

#menu-nav {
    /* background: #cacfd2; */
    background: white;
}

#menu-nav > div {
    width: 100%;
    padding: 1.5rem;
}

.menu-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav__item a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0;
}

.menu-nav__item a:hover,
.menu-nav__item a:active {
    font-weight: 700;
    border-bottom: 2px solid black;
}

#menu {
    background: #f5f5f5;
}

#menu > div {
    /* background: #d6eaf8; */
    margin: 3rem 1rem 1rem 1rem;
}

#menu > div:first-of-type,
#menu > div:first-of-type h1 {
    margin-top: 0;
}

#menu > div:first-of-type {
    padding-top: 3rem;
}

#menu > div:nth-last-child(2) {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

#menu div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu div ul li {
    display: inline-block;
    width: 33%;
}

#menu div ul li > div {
    border: 2px solid white;
}

#menu div ul li div {
    /* background: #bdc3c7; */
    background: white;
    padding: 1rem;
    padding-right: 0;
    margin: 0.5rem;
    border-radius: 5px;
    text-align: left;
}

#menu div ul li div:hover,
#menu div ul li div:active {
    border-color: #998d7f;
    cursor: pointer;
}

#menu div ul li div > div {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0;
    width: 40%;
    vertical-align: top;
}

#menu div ul li div > div:first-of-type {
    position: relative;
}

#menu div ul li div > div:last-of-type {
    width: 45%;
    margin-right: 0;
}

#menu div ul li div div img {
    height: 100%;
    width: 100%;
    vertical-align: top;
}

#menu div ul li div div h3 {
    margin-top: 0;
    margin-bottom: 0;
}

#menu div ul li div div p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 14px;
}

#menu div h1 {
    margin-left: 0.5rem;
    font-size: 2rem;
}

/*
#button {
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    background: #795548;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #795548;
    border-radius: 5px;
}
*/

#button:hover,
#button:active {
    background: white;
    color: #795548;
}

footer {
    background: black;
    color: #998d7f;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
    height: 45vh;
}

.footer__content {
    display: flex;
    justify-content: center;
}

.footer__content div {
    vertical-align: top;
    margin-right: 2rem;
}

footer div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer div ul li {
    margin-top: 1rem;
}

footer a {
    text-decoration: none;
    color: #998d7f;
}

footer h2 {
    color: white;
}

#newsletter__form {
    margin-top: 2rem;
}

footer input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 0.5rem;
    background: #998d7f;
    color: white;
    padding: 0.5rem;
    border: 1px solid #998d7f;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

footer input[type="submit"]:hover,
footer input[type="submit"]:active {
    background: white;
    color: #998d7f;
}

footer input[type="text"] {
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
}

.fa {
    margin-right: 0.5rem;
}

.fa-angle-double-up {
    font-size: 2rem;
    color: white;
}

#menu #scrolltop {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.order-modal {
    z-index: 100;
    position: fixed;
    background: white;
    top: 0;
    right: 0;
    width: 45vw;
    height: 100%;
    text-align: left;
    display: none;
}

.order-modal-background {
    z-index: 50;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

#product-content {
    height: 75%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.product-content-cancel {
    border-bottom: 2px solid #f5f5f5;
}

.product-content-cancel a {
    text-decoration: none;
    color: black;
}

.product-content-cancel h2 {
    margin-left: 1rem;
    margin-top: 0;
    padding-top: 1.2rem;
}

.product-content-intro {
    border-bottom: 10px solid #f5f5f5;
    padding-bottom: 1rem;
}

.product-content-intro div {
    display: inline-block;
    vertical-align: middle;
}

.product-content-description {
    width: 60%;
}

.product-content-description h1 {
    margin: 1rem 0;
}

.image-container {
    margin: 1rem;
    width: 10vmax;
    height: 10vmax;
    text-align: left;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-radius: 5px;
}

#product-content form div {
    border-bottom: 10px solid #f5f5f5;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

#product-content form h3 {
    margin: 1rem 0;
}

#product-content form div:nth-last-child(1) {
    border: none;
    margin-bottom: 2rem;
}

#product-content form input[type="radio"],
#product-content form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0 1rem 2rem 0;
}

#product-content form input[type="text"] {
    font-family: 'Roboto', sans-serif;
    padding: 1rem 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    width: 80%;
}

#product-content form input[type="text"]:focus {
    border: 2px solid #998d7f;
}

label {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 2rem;
}

.product-content-submit {
    padding: 0.5rem 1rem 2rem 1rem;
    text-align: center;
    border-top: 2px solid #f5f5f5;
}

.product-content-submit div {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2rem;
    vertical-align: middle;
}

.product-content-submit input[type="submit"] {
    padding: 1rem;
    background: #3cb043;
    width: 45%;
    outline: none;
    border: 1px solid #3cb043;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    vertical-align: middle;
}

.product-content-submit input[type="submit"]:disabled {
    background: #c5c5c5;
    border: 1px solid #c5c5c5;
    color: rgba(0, 0, 0, 0.5);
}

.product-content-submit button {
    background: white;
    margin: 0 1.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid #3cb043;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    outline: none;
    vertical-align: middle;
}

.subdescription {
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 0.5rem;
}